*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
body {
    font-family: 'Poppins', sans-serif;
}

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../images/linkedin-blue.png) url(../images/github-blue.png) url(../images/instagram-blue.png);

}

body {
    width: 100%;
    height: calc(100vh - 40px);
    margin-top: 40px;
    background-image: url(../images/2560.png);
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: center;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 200px;
}
/* header */
.header-main {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 40px;
    background-color: #b14aed;
    position: fixed;
    top: 0;
    z-index: 10;
}
/* nav links */
.header-menu {
    order: 2;
    width: 400px;
    height: 100%;
    padding-top: 5px;
}
.header-menu a {
    color: white;
    font-weight: bold;
    padding: 5px;
}
.header-menu a:hover {
    color: white;
    background-color: #097985;
    border-radius: 5px;
    padding: 5px;
}
/* social links */
.header-soc-menu {
    order: 1;
    width: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
}
.header-soc-linkedin {
    width: 29px;
    height: 29px;
    background-image: url(../images/linkedin-white.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-soc-linkedin:hover {
    background-image: url(../images/linkedin-blue.png);
}
.header-soc-insta {
    width: 29px;
    height: 29px;
    background-image: url(../images/instagram-white.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-soc-insta:hover {
    background-image: url(../images/instagram-blue.png);
}
.header-soc-git {
    width: 29px;
    height: 29px;
    background-image: url(../images/github-white.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-soc-git:hover {
    background-image: url(../images/github-blue.png);
}
.hero-content{
    display: flex;
    flex-direction: row;
    align-content: center;
}
/* hero text */
.hero-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    top: 80px;
    left: 20%;
}
.hero-text h1 {
    font-weight: 600;
    font-size: 4.5vw;
    line-height: 60px;
}
.hero-text h2 {
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 1.5vw;
    margin: 10px 0;
    padding: 10px 0;
}
.hero-text p {
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    font-size: 1vw;
    margin-bottom: 10px;
    padding: 10px;
}
/* Contact Me button */
.hero-btn {
    position: absolute;
    top: 75%;
    width: 30%;
    padding: 15px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1.5vw;
    border-style: none;
    border-width: 2pt;
    background-color: #b14aed;
    color: white;
}
.hero-btn:hover {
    width: 30%;
    padding: 15px;
    border-radius: 30px;
    background-color: #097985;
    border-style: solid;
    border-width: 2pt;
    border-color: #1f1a38;
}

.hero-profile img{
    width: 22vw;
    height: 100%;
    position: relative;
    left: 80%;
    top: 14%;

}
/* projects section */
.projects-main {
    top: 80%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 10px;
}
#pro-link{
    position: relative;
    left: 15%;
    justify-content: center;
    border-radius: 10px;
    background-color: #cfcfea;
    width: 70%;
    font-size: 2vw;
    font-weight: 300;
    text-align: center;
}
.projects-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 50%;
    position: relative;
    left: 20%;
}
.pro-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    width: 50%;
    max-width: 500px;
}
.pro-container img {
    width: 336px;
    height: 224px;
}
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 336px;
    height: 224px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 1vw;
    padding: 50px;
    text-align: center;
}
.pro-container:hover .overlay {
    opacity: 1;
}

/* Education Section */
.education-main {
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 10px;
}
#edu-link {
    position: relative;
    left: 15%;
    justify-content: center;
    border-radius: 10px;
    background-color: #cfcfea;
    width: 70%;
    height: fit-content;
    font-size: 2vw;
    font-weight: 100;
    text-align: center;
}
.edu-content {
    padding: 50px;
}
.edu-1{
    flex: 1 1 auto;
    padding: 2rem 2rem;
    position: relative;
    left: 15%;
    width: 70%;
    height: 12rem;
    border-style: solid;
    border-radius: 10px;
    border-color: #1f1a38;
    margin-bottom: 2rem
}
#uni {
    font-weight: 600;
}
.edu-2 {
    flex: 1 1 auto;
    line-height: 2rem;
    padding: 2rem 2rem;
    position: relative;
    left: 15%;
    width: 70%;
    height: 12rem;
    border-radius: 10px;
    border-style: solid;
    border-color: #1f1a38;
}
/* Skills Section */
.skills-main {
    
    gap: 20px;
}
#skills {
    position: relative;
    left: 15%;
    justify-content: center;
    border-radius: 10px;
    background-color: #cfcfea;
    width: 70%;
    height: fit-content;
    font-size: 2vw;
    font-weight: 100;
    text-align: center;
}
.skills-content {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    position: relative;
    left: 15%;
}
.container {
    width: 400px;
    text-align: left;
  }
  .progress {
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);  
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }
  .progress-bar {
    height: 18px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  }
  .progress-moved .progress-bar {
    width: 90%; 
    background-color: #097985; 
  }
  .progress-moved2 .progress-bar2 {
    width: 80%; 
    background-color: #097985; 
  }
  .progress-bar2 {
    height: 18px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  }
  .progress-moved3 .progress-bar3 {
    width: 70%; 
    background-color: #097985; 
  }
  .progress-bar3 {
    height: 18px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  }
  .progress-moved4 .progress-bar4 {
    width: 80%; 
    background-color: #b14aed; 
  }
  .progress-bar4 {
    height: 18px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  }
  .progress-moved5 .progress-bar5 {
    width: 95%; 
    background-color: #b14aed; 
  }
  .progress-bar5 {
    height: 18px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  }
  .progress-moved6 .progress-bar6 {
    width: 70%; 
    background-color: #b14aed; 
  }
  .progress-bar6 {
    height: 18px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  }


/* media queries */
@media only screen and (max-width: 1920px) {
    body{
        background-image: url(../images/1920.png);

        height: 100vh;
        max-width: 100%;
        min-height: auto;
        background-size: contain, cover;
        background-repeat: no-repeat;
        background-position: center, center;
        }
}
@media only screen and (max-width: 900px) {
    body{
        background-image: url(../images/900.png);

        height: 100vh;
        max-width: 100%;
        min-height: auto;
        background-size: contain, cover;
        background-repeat: no-repeat;
        background-position: center, center;
        }
}
@media only screen and (max-width: 864px) {
    body{
        background-image: url(../images/864.png);
        width: 100%;
        height: 100vh;
        background-size: contain, cover;
        background-repeat: no-repeat;
        background-position: center, center;
    }
}

@media only screen and (max-width: 768px) {
    body{
        background-image: url(../images/768.png);
        width: 100%;
        height: 100vh;
        background-size: contain, cover;
        background-repeat: no-repeat;
        background-position: center, center;
    }
}
@media only screen and (max-width: 720px) {
    body{
        background-image: url(../images/720.png);
        width: 100%;
        height: 100vh;
        background-size: contain, cover;
        background-repeat: no-repeat;
        background-position: center, center;
    }
}
