#sum_link {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 37%;
  left: 20%;
}
#pro_link {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 37%;
  left: 30%;
}
#exp_link {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 37%;
  left: 40%;
}
#edu_link {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 37%;
  right: 40%;
}
#ski_link {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 37%;
  right: 30%;
}
#con_link {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 37%;
  right: 20%;
}
.header {
  background-color: #6b9999;
  height: 325px;
  color: white;
}
.menu {
  background-color: #ebc9bb;
  height: 40px;
  font-size: 18pt;
  font-weight: bold;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid;
  border-color: white;
  display: block;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24pt;
}
h2 {
  background-color: #ebc9bb;
  width: fit-content;
  color: white;
  padding: 7px;
  border-style: solid;
  border-color: #bda79e;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
section {
  padding: 50px;
  margin-left: 250px;
  margin-right: 400px;
}
article {
  padding: 15px;
}
