.container_side {
  display: flex;
  flex-direction: column;
  background-color: #6b9999;
  position: fixed;
  width: 300px;
  height: 100%;
}
.cont_item {
  position: fixed;
  top: 500px;
  left: 10px;
}
#contact {
  background-color: transparent;
  border-style: none;
  font-family: Helvetica;
  font-weight: 200;
}
#summary {
  position: fixed;
  top: 275px;
  left: 20px;
  background-color: transparent;
  border-style: none;
  font-family: Helvetica;
  font-weight: 200;
}
#par_item {
  position: fixed;
  top: 330px;
  left: 20px;
  width: 250px;
}
.info_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
}
#sum_link {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 37%;
  left: 20%;
}
#pro_link {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 37%;
  left: 30%;
}
#exp_link {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 37%;
  left: 40%;
}
#edu_link {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 37%;
  right: 40%;
}
#ski_link {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 37%;
  right: 30%;
}
#con_link {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 37%;
  right: 20%;
}
.menu {
  display: flex;
  font-weight: bold;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  display: block;
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid;
  border-color: white;
  position: absolute;
  top: 5%;
  left: 15%;
}
.container_head {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 300px;
  position: absolute;
  left: 350px;
}
h2 {
  background-color: #ebc9bb;
  width: fit-content;
  color: white;
  padding: 7px;
  border-style: solid;
  border-color: #bda79e;
}
section {
  padding: 50px;
  margin-left: 250px;
  margin-right: 400px;
}
article {
  padding: 15px;
}
